
.hero {
  background-image: url('/images/newhero.JPG');
  background-size: cover;
  border-top: 1px solid black;
  height: 600px;


}
a{
  color:black;
}


.blog-post {
   background: white;
   border: 2px solid #f7505a;
   border-radius: 10px;
   box-shadow: 0 0 0 2px #f7505a, 3px 3px 3px 3px rgba(10, 10, 0, 0.5);
   font-weight: normal;
   font-size: 21px;
   font-weight: bold;
   margin: 100px;
   padding: 20px;


   line-height: 1.3em;
}

.blog-post h1,h2,h3,h4,h5,h6 {
  font-size: 1.5em;
  color:#f7505a;
}
.blog-post p{
  padding: 15px;
  margin: 5px;
  color: black;
  font-family: 'News Cycle', sans-serif;
}
.logo {
  display: block;
  margin: 215px auto 0 auto;
  max-width: 150px;
  height:
}
